
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCopyLabel" translate="booksterApp.copy.home.createOrEditLabel">Create or edit a Copy</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="copy.id" readonly />
        </div>
        <div class="form-group">
            <label translate="booksterApp.copy.verified" for="field_verified">Verified</label>
            <input type="checkbox" class="form-control" name="verified" id="field_verified"
                    ng-model="copy.verified"
                     />
        </div>
        <div class="form-group">
            <label translate="booksterApp.copy.available" for="field_available">Available</label>
            <input type="checkbox" class="form-control" name="available" id="field_available"
                    ng-model="copy.available"
                     />
        </div>
        <div class="form-group">
        <label translate="booksterApp.copy.book" for="field_book">Book</label>
        <input type="text" class="form-control" name="book" id="field_book"
               ng-model="copy.book"
                />
    </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
