
<div>
    <div id="book-not-found" class="alert alert-danger" ng-show="book.id == null">
        Book does not exist.
    </div>
    <div id="book-found" ng-show="book.id != null">
    <h2><span translate="booksterApp.book.detail.title">Book</span> {{book.id}}</h2>
    <div class="table-responsive" ng-show="book.id != null">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="booksterApp.book.isbn">Isbn</span>
                </td>
                <td>
                    <span class="form-control-static" id="book-isbn">{{book.isbn}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="booksterApp.book.title">Title</span>
                </td>
                <td>
                    <span class="form-control-static" id="book-title">{{book.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="booksterApp.book.verified">Verified</span>
                </td>
                <td>
                    <span class="form-control-static">{{book.verified}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="booksterApp.book.published">Published</span>
                </td>
                <td>
                    <span class="form-control-static">{{book.published | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="booksterApp.book.subtitle">Subtitle</span>
                </td>
                <td>
                    <span class="form-control-static">{{book.subtitle}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="booksterApp.book.tags">tags</span>
                </td>
                <td>
                    <span class="form-control-static"><div ng-repeat="b in book.tags">{{b.name}}</div></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="booksterApp.book.authors">authors</span>
                </td>
                <td>
                    <span class="form-control-static"><div ng-repeat="a in book.authors">
                        <a ui-sref="author.detail({id:a.id})">{{a.name}}</a>
                        <br/>
                    </div> </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="booksterApp.book.copies">copies</span>
                </td>
                <td>

                    <span class="form-control-static"><div ng-repeat="copi in book.copies">{{b}}
                        <a ui-sref="copy.detail({id:copi.id})">{{copi.id}} - Status - {{copi.available}}</a>
                        <br/>
                    </div> </span>

                </td>
            </tr>

            </tbody>
        </table>
    </div>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
